<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EPPUIKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EPPUIKitSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EyePatchPlayer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RESideMenuWrapper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>StreamingKitWrapper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C489EAC01BA83D1D00D788E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C489EAD71BA83D1D00D788E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE81A5DE1EB375A600AA696A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE81A5EF1EB375BD00AA696A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE81A6001EB3765000AA696A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEAAB9E51EB25C90003E4CE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEAABA031EB25D2B003E4CE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEBF86EB1EB37AF900564B8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
